.hero {
  position: relative;
  background: #fff;
  color: #373F49;
  text-align: center;
}

.heroImage {
  /*
    Ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width
  */
  height: 61.8vh;
  max-height: 400px;
}

.heroDetails {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  font-size: 1.25em;
  padding: 0 0.5em;
}

@media(min-width: 600px) {
  .heroDetails {
    font-size: 1.4em;
  }
}

@media(min-width: 1000px) {
  .heroDetails {
    font-size: 1.6em;
  }
}

.heroTitle {
  margin: 0;
  font-size: 1.45em;
}
